<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mark</th>
                        <th scope="col">Author</th>
                        <th scope="col">Report To</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></td>
                        <td>
                            <p>
                                <b>
                                    ID: DR01
                                </b>
                            </p>
                            <p>Role: Driver</p>
                        </td>
                        <td>
                            <p>
                                <b>
                                    ID: PN01
                                </b>
                            </p>
                            <p>Role: Partner</p>
                        </td>
                        <td>
                            Product of this shop is very bad !!! It occur many time
                        </td>
                        <td>
                            15/11/2021
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

