<div class="container-fluid">
    <p class="text-center h2 mt-5">Danh sách doanh nghiệp</p>

    <div class="row">
        {{#each this.companyList}}
            <div class="col-4 p-3">
                <a href="/client/branch/{{id}}">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title h2">{{Name}}</h5>
                            <p class="card-text">{{typeProduct}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>

