
    <div class="container-fluid">
        <p class="text-center h2 mt-5 border-bottom">Thanh Toán</p>
        <form>
            <div class="container">
                <div class="row" style="background-color: #C4C4C4;">
                    <div class="col-12 mt-5">
                        <span class="h5">Họ tên: </span>
                        <span>Bùi Nguyễn Nhật Hào</span>
                    </div>

                    <div class="col-12 mt-5">
                        <span class="h5">Địa chỉ giao hàng</span>
                        <span>Nguyễn Văn Cừ, Quận 5</span>
                    </div>



                    <div class="col-12 my-5 ">
                        <span class="h5">Hình thức thanh toán :</span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Tiền mặt</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Chuyển Khoản</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="my-5 h5">
                        Danh sách các sản phẩm trong đơn hàng
                    </p>

                    <table class="table table-dark border">
                        <thead>
                            <tr>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng sản phẩm</th>
                                <th scope="col">Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Cơm gà xối mỡ</th>
                                <td>3</td>
                                <td>5000</td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                <div class="row justify-content-end">
                    <div class="btn-group border" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">
                            Phí vận chuyển : <span>2000</span>
                        </button>
                        <button type="button" class="btn btn-primary">
                            Tổng tiền : <span>17000</span>
                        </button>
                    </div>
                </div>

                <div class="row justify-content-end mt-5">
                    <a href="../client">
                        <button type="button" class="btn btn-danger mr-5">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Back
                        </button>
                    </a>

                    <a href="../client/my-order">
                        <button type="button" class="btn btn-primary ml-5">
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                            Sell
                        </button>
                    </a>

                </div>
            </div>
        </form>
    </div>
