<div class="container-fluid">
    <p class="text-center h2 mt-5">Danh sách Chi Nhánh</p>

    <div class="row">
        {{#each this.branchList}}
            <div class="col-4 p-3">
                <a href="/client/product/{{MaDoanhNghiep}}/{{MaChiNhanh}}">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title h2">Chi Nhánh {{MaChiNhanh}}</h5>
                            <p class="card-text">{{DiaChi}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>

