<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Delivery Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="container-fluid">
        <p class="text-center h2 mt-5 border-bottom">Thanh Toán</p>
        <form>
            <div class="container">
                <div class="row" style="background-color: #C4C4C4;">
                    <div class="col-12 mt-5">
                        <span class="h5">Họ tên: </span>
                        <span>Bùi Nguyễn Nhật Hào</span>
                    </div>

                    <div class="col-12 mt-5">
                        <span class="h5">Địa chỉ giao hàng</span>
                        <span>Nguyễn Văn Cừ, Quận 5</span>
                    </div>



                    <div class="col-12 my-5 ">
                        <span class="h5">Hình thức thanh toán :</span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Tiền mặt</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Chuyển Khoản</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="my-5 h5">
                        Danh sách các sản phẩm trong đơn hàng
                    </p>

                    <table class="table table-dark border">
                        <thead>
                            <tr>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng sản phẩm</th>
                                <th scope="col">Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Cơm gà xối mỡ</th>
                                <td>3</td>
                                <td>5000</td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                <div class="row justify-content-end">
                    <div class="btn-group border" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">
                            Phí vận chuyển : <span>2000</span>
                        </button>
                        <button type="button" class="btn btn-primary">
                            Tổng tiền : <span>17000</span>
                        </button>
                    </div>
                </div>

                <div class="row justify-content-end mt-5">
                    <button type="button" class="btn btn-danger mr-5">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Back
                    </button>
                    <button type="button" class="btn btn-primary ml-5">
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                            Sell
                    </button>
                </div>
            </div>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>

</html>