    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Delivery Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <p class="h2">User Profile</p>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Hạng mục</th>
                                    <th scope="col">Nội dung</th>
                                    <th scope="col">Chỉnh sửa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Họ Tên</th>
                                    <td>Bùi Nguyễn Nhật Hào</td>
                                    <td>
                                        <a class="button is-rounded is-success" href="#" role="button">
                                            Chỉnh sửa
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">SĐT</th>
                                    <td>0909845284</td>
                                    <td>
                                        <a class="button is-rounded is-success" href="#" role="button">
                                            Chỉnh sửa
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Email</th>
                                    <td>nhatcuongti@gmail.com</td>
                                    <td>
                                        <a class="button is-rounded is-success" href="#" role="button">
                                            Chỉnh sửa
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Địa chỉ</th>
                                    <td>Bình Phước</td>
                                    <td>
                                        <a class="button is-rounded is-success" href="#" role="button">
                                            Chỉnh sửa
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Mật Khẩu</th>
                                    <td>**********</td>
                                    <td>
                                        <a class="button is-rounded is-success" href="#" role="button">
                                            Chỉnh sửa
                                        </a>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>

                    <div class="col-3 d-flex flex-column justify-content-center">
                        <a class="btn btn-outline-primary mb-5" href="#" role="button">
                            Lưu
                        </a>

                        <a class="btn btn-outline-danger" href="#" role="button">
                            Thoát
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>

</html>