<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Auction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css"
          integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        body{
        height: 100vh;
    }
    </style>
    {{{_sections.css}}}

</head>

<body>
    <nav class="navbar has-background-grey-light p-4 " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="fa fa-truck fa-5x" aria-hidden="false"></i>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu align-items-center">
            <h1 class="h2">Online Delivery</h1>
            <form class="navbar-item ml-auto">
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Nhập từ khóa tìm kiếm">
            <span class="icon is-left is-small">
                    <i class="fa fa-search"></i>
                </span>
                </div>
                <div class="select">
                    <select>
                        <option value="name">Theo tên</option>
                        <option value="category">Theo danh mục</option>
                    </select>
                </div>
                <div>&nbsp&nbsp&nbsp&nbsp</div>
                <button class="button is-success" type="submit">
                    <span>Tìm kiếm</span>
                    <span class="icon is-small">
                    <i class="fa fa-search"></i>
                </span>
                </button>
            </form>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="/">
                            <strong>Đăng nhập</strong>
                        </a>
                        <a class="button is-light" href="/register">
                            Đăng ký
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- hao-->
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-sm-3 has-background-grey-lighter h-100 p-0">
                <div class="list-group ">
                    <a href="/driver/profile" class="list-group-item list-group-item-action active" aria-current="true">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        <span class="h3 ml-3">Driver Profile</span>
                    </a>
                    <a href="/driver/delivery" class="list-group-item list-group-item-action ">
                        <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
                        <span class="h3 ml-3">Delivery</span>
                    </a>
                    <a href="/driver/purchase" class="list-group-item list-group-item-action ">
                        <i class="fa fa-money fa-2x" aria-hidden="true"></i>
                        <span class="h3 ml-3">Purchase Manage</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-9">{{{body}}}</div>
        </div>
    </div>
    <!--nhat -->
    <!--<div class="container-fluid h-100">-->
    <!--    <div class="row h-100">-->
    <!--        <div class="col-sm-3 has-background-grey-lighter h-100">-->
    <!--            <nav class="nav flex-column">-->
    <!--                <a class="nav-link active" href="#">Active</a>-->
    <!--                <a class="nav-link" href="#">Link</a>-->
    <!--                <a class="nav-link" href="#">Link</a>-->
    <!--                <a class="nav-link disabled">Disabled</a>-->
    <!--            </nav>-->
    <!--        </div>-->
    <!--        <div class="col-sm-9">-->
    <!--    </div>-->
    <!--</div>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    {{{_sections.js}}}
</body>
</html>