<div class="h3 text-center">Thêm chi nhánh</div>
<div class="container-fluid d-flex justify-content-center">
<div class="row">
    <form method="post" action="/company/branch/add">
        <div class="mt-3">
            <div className="form-group">
                <input type="text" className="form-control" name="name" placeholder="Nhập mã số chi nhánh">
            </div>

        </div>
         <div class="mt-3">
             <div className="form-group">
                 <input type="text" className="form-control" name="address" placeholder="Nhập địa chỉ">
             </div>
         </div>
        <div class="mt-3">
            <a href="../branch"><button type="button" className="btn btn-primary">Back</button></a>
            <button type="submit" className="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
</div>

