<form action="/company/contract/add" method="post">

<div class="mt-3">
    <span>Mã số thuế:</span>
    <span class="ml-5"><input type="text" name="maST"></span>
</div>
<div class="mt-3">
    <span>Người đại diện:</span>
    <span class="ml-5"><input type="text" name="daidien"></span>
</div>
<div class="mt-3">
    <span>Thời gian bắt đầu:</span>
    <span class="ml-5"><input type="date" name="date"></span>
</div>
<div class="mt-3">
    <span>Thời hạn:</span>
    <span class="ml-5"><input type="text" name="time"></span>
</div>
<div class="mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Mã chi nhánh</th>
            <th scope="col">Địa chỉ</th>
            <th class="text-center" scope="col">Lựa chọn</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <th scope="row">{{MaChiNhanh}}</th>
                <td>{{DiaChi}}</td>
                <td class="text-center">
                    <input class="form-check-input" type="checkbox" name="selection" id="exampleRadios2" value="{{MaChiNhanh}}">
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class="text-center mt-3">
    <a href="../contract"><button type="button">Back</button></a>
    <button type="submit">Submit</button>
</div>
</form>