<div class="h3 text-center">Thêm sản phẩm</div>
<div class="container-fluid d-flex justify-content-center">
<div class="row">
    <form>
        <div class="mt-3">
            <div className="form-group">
                <input type="text" className="form-control" placeholder="Nhập tên sản phẩm">
            </div>

        </div>
         <div class="mt-3">
             <div className="form-group">
                 <input type="text" className="form-control" placeholder="Nhập giá sản phẩm">
             </div>
         </div>
        <div class="mt-3">
            <a href="../product"><button type="button" className="btn btn-primary">Back</button></a>
            <button type="submit" className="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
</div>

