<div class="h3 text-center">Cập nhật thông tin chi nhánh</div>
<div class="container-fluid d-flex justify-content-center">
<div class="row">
    <form>
        <div class="mt-3">
            <div className="form-group">
                <input type="text" className="form-control" placeholder="Nhập địa chỉ mới của chi nhánh">
            </div>

        </div>
        <div class="mt-3">
            <a href="../branch"><button type="button" className="btn btn-primary">Back</button></a>
            <button type="submit" className="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
</div>

