<div class="container">
    <div class="card">
        <div class="card-header">
            <p class="h2">Driver Profile</p>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Hạng m</th>
                                <th scope="col">Nội dung</th>
                                <th scope="col">Chỉnh sửa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Mã Hợp Đồng</th>
                                <td>HD01</td>
                                <td>
                                    <a class="button is-rounded is-success" href="#" role="button">
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Tên đối tác</th>
                                <td>HappyDragon</td>
                                <td>
                                    <a class="button is-rounded is-success" href="#" role="button">
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Mã chi nhánh</th>
                                <td>CN02</td>
                                <td>
                                    <a class="button is-rounded is-success" href="#" role="button">
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Ngày đăng ký</th>
                                <td>2/2/2020</td>
                                <td>
                                    <a class="button is-rounded is-success" href="#" role="button">
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Hiệu lực</th>
                                <td>12 tháng</td>
                                <td>
                                    <a class="button is-rounded is-success" href="#" role="button">
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>

                <div class="col-3 d-flex flex-column justify-content-center">
                    <a class="btn btn-outline-primary mb-5" href="#" role="button">
                        Lưu
                    </a>

                    <a class="btn btn-outline-danger" href="#" role="button">
                        Thoát
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
