<div class="container">
    <div class="card">
        <div class="card-header">
            <p class="h2">Staff Profile</p>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Hạng mục</th>
                                <th scope="col">Nội dung</th>
                                <th scope="col">Chỉnh sửa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Họ Tên</th>
                                <td>Bùi Nguyễn Nhật Hào</td>
                                <td>
                                    <a class="button is-rounded is-success" href="#" role="button">
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">SĐT</th>
                                <td>0909845284</td>
                                <td>
                                    <a class="button is-rounded is-success" href="#" role="button">
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Email</th>
                                <td>nhatcuongti@gmail.com</td>
                                <td>
                                    <a class="button is-rounded is-success" href="#" role="button">
                                        Chỉnh sửa
                                    </a>
                                </td>
                            </tr>


                            <tr>
                                <th scope="row">Mật Khẩu</th>
                                <td>************</td>
                                <td>
                                    <a class="button is-rounded is-success" href="/staff/password" role="button">
                                        Đổi Mật khẩu
                                    </a>
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>

                <div class="col-3 d-flex flex-column justify-content-center">
                    <a class="btn btn-outline-primary mb-5" href="#" role="button">
                        Lưu
                    </a>

                    <a class="btn btn-outline-danger" href="#" role="button">
                        Thoát
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
